<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>```ebnf+diagram playground</title>
    </head>
    <body>
        <section>
            <div>
                <textarea class="textarea" rows="25" id="code">Place ::=<%='\n'%>    "YOUR" ( EBNF | Here )</textarea>
                <br>
                <button id="render">Render</button>
            </div>
            <div>
                <dl id="output"></dl>
            </div>
        </section>
    </body>
</html>