body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
}

section {
  display: flex;

  > div {
    flex: 1;

    &:first-child {
      text-align: right;
      line-height: 2;
      padding: 2em;
    }

    &:last-child {
      height: 100vh;
      overflow-y: auto;
    }
  }
}

textarea {
  width: 100%;
}

#output {
  $stroke: #0e2336;

  dt {
    font-style: italic;
    font-weight: 600;
    margin: 16px 0 0 0;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }
    &::after {
      font-weight: normal;
      content: ' ::=';
    }
  }

  dd {
    margin: 0 0 16px 0;
    padding: 0 16px;

    overflow-x: auto;
    overflow-y: hidden; // needed to make it look good on IE 11.
  }

  path {
    fill: none;
    stroke-width: 1;
    stroke: $stroke;
  }

  text {
    font: 12px Verdana, sans-serif;
    text-anchor: middle;
  }

  rect {
    fill: #e5eff8;
    stroke-width: 1;
    stroke: $stroke;
  }

  .start-end {
    fill: $stroke;
  }

  .terminal {
    rect {
      fill: #d0e2f3;
    }
    text {
      font-weight: bold;
    }
  }
}